.no-margin{
    margin:0px !important;
}
.inputError {color:red;}
.devise-checkbox{
  margin-bottom: 8px !important;
}
.devise-remember{
  display: inline ;
}
.reset-width{
  width:0px !important;
}
.margin-left10{
  margin-left: 55px !important;
}
.reset-paddingleft{
  padding-left: 10px !important;
}
.required{
  color: red;
}
div#activity_pane {
  display: none;
  float:left;
  width: 100%;
  height: 100%;
  border: 1px solid #CCCCCC;
  background-color: #EEEEEE;
  padding-top: 200px;
text-align: center;

}
.padding-top10{
  padding-top: 10px !important;
}
html,
body {
  margin:0;
  padding:0;
  height:100%;
}
#wrapper {
  min-height:100%;
  position:relative;
}
#header {
  padding:10px;
  background:#5ee;
}
#content {
  padding:10px;
  padding-bottom:80px;   /* Height of the footer element */
}
#footer {
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #F0F0CD;
  text-align: center;
}